Repository awendland/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, eslint

markdown-lint:
  name: Markdown Lint
  language: node
  additional_dependencies:
  - markdownlint-cli
  entry: markdownlint
  args:
  - --config
  - .markdownlintrc

eslint:
  name: eslint
  entry: eslint
  language: node
  additional_dependencies:
  - eslint@7.21.0
  - eslint-plugin-react@7.22.0
  - eslint-config-react-app@6.0.0
  - eslint-plugin-jsx-a11y@6.4.1

[WIP] migrate2hugo: fix wayback url on 404 page
  layouts/404.html
Due: none

[WIP] migrate2hugo: add support for collected notes with local retention
  hugo.yaml
  justfile
  layouts/index.html
  scripts/retrieve-collected-notes.ts
Due: none

[WIP] migrate2hugo: match existing rss feed URI
  hugo.yaml
Due: none

[WIP] migrate2hugo: import gdocs as saved markdown
  content/notes/big-trees/images/image1.jpg
  content/notes/big-trees/images/image2.jpg
  content/notes/big-trees/images/image3.jpg
  content/notes/big-trees/images/image4.jpg
  content/notes/big-trees/images/image5.jpg
  content/notes/big-trees/images/image6.jpg
  content/notes/big-trees/images/image7.jpg
  content/notes/big-trees/index.md
  content/notes/dev-resources.md
  content/notes/healthcare.md
  hugo.yaml
  justfile
  scripts/convert-gdoc.ts
Due: markdown-lint

[WIP] migrate2hugo: import collectednotes as local markdown
  content/collected-notes/2020-06-16-tasks-and-promises-in-fp-ts.md
  content/collected-notes/2020-06-17-feedly-intentionally-sets-the-wrong-rss-date.md
  content/collected-notes/2020-06-19-how-to-implement-max-download-size-with-got.md
  content/collected-notes/2020-06-19-how-to-work-with-streams-in-got.md
  content/collected-notes/2020-06-21-connecting-to-host-machine-from-docker-container-on-macos.md
  content/collected-notes/2020-06-25-typescript-lerna-and-dockerignore.md
  content/collected-notes/2020-07-01-custom-json-payload-for-get-contents-of-url-in-ios-shortcuts.md
  content/collected-notes/2020-07-02-sending-email-from-a-forwarding-only-address-in-gmail.md
  content/collected-notes/2020-07-06-using-filetype-to-guess-chk-files-in-found-000.md
  content/collected-notes/2020-07-14-supporting-cli-programs-in-subprocess-run-on-macos-windows-without-shell-true.md
  content/collected-notes/2020-08-16-different-homebrew-formula-approaches-for-go-binaries.md
  content/collected-notes/2020-09-25-translucent-status-bar-in-pwas-on-ios.md
  content/collected-notes/2020-11-07-script-the-installation-of-deb-packages-that-have-configuration-prompts.md
  content/collected-notes/2020-11-17-extract-color-configurations-from-an-iterm-profile.md
  content/collected-notes/2020-12-28-debug-trace-logging-in-a-custom-jupyter-kernel.md
  content/collected-notes/2021-02-18-citi-loses-500m-and-why-verification-uis-should-switch-modes.md
  content/collected-notes/2021-09-19-onboarding-to-python-fastapi-sqlalchemy-2021.md
  content/collected-notes/2021-09-20-chunked-iteration-in-python.md
  scripts/retrieve-collected-notes.ts
Due: markdown-lint

[WIP] migrate2hugo: make Updated italics on pages
  layouts/_default/single.html
Due: none

[WIP] migrate2hugo: revise content LICENSE to reflect current structure
  content/LICENSE
Due: none

[WIP] migrate2hugo: remove Gatsby
  .eslintrc.js
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/bio.js
  src/components/layout.js
  src/components/long-term-notes-snippet.js
  src/components/seo.js
  src/pages/404.js
  src/pages/index.js
  src/pages/index.module.css
  src/templates/blog-post.js
  src/templates/long-term-note.js
  src/utils/typography.js
  yarn.lock
Due: eslint

[WIP] migrate2hugo: revise pre-commit and other tooling
  .gitignore
  .markdownlintrc
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .yamllint.yaml
  hugo.yaml
  justfile
Due: none

[WIP] migrate2hugo: apply pre-commit
  README.md
  UNLICENSE
  layouts/404.html
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/_default/summary.html
  layouts/index.html
  layouts/partials/bio.html
  layouts/partials/debug-data.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/partials/pagination.html
  scripts/ci-base64-env-to-file.mjs
  scripts/convert-gdoc.ts
  scripts/hygiene-sitemap-to-url-list.mjs
  scripts/lib/bear.mjs
  scripts/lib/md.mjs
  scripts/lib/repo.mjs
  scripts/lib/std.mjs
  scripts/retrieve-collected-notes.ts
  scripts/update-bear-notes.mjs
  static/cms/config.yml
Due: markdown-lint, eslint

[WIP] migrate2hugo: add goatcounter
  layouts/_default/baseof.html
Due: none

[WIP] migrate2hugo: revise cms config for gatsby
  static/cms/config.yml
Due: none

[WIP] migrate2hugo: configure deploy using netlify.toml
  justfile
  netlify.toml
Due: none

[WIP] migrate2hugo: use relative links whenever possible
  layouts/_default/summary.html
  layouts/index.html
Due: none

[WIP] migrate2hugo: break notes list on commas instead of spaces
  layouts/index.html
Due: none

[WIP] migrate2hugo: nit cleanup
  hugo.yaml
  layouts/index.html
Due: none

Create Posts “2024-01-18-draft-notes-on-responsible-ai-companionship/index”
  content/posts/2024-01-18-draft-notes-on-responsible-ai-companionship/index.md
Due: markdown-lint

fix date
  .github/workflows/check.yml
  content/posts/2023-06-27-draft-notes-on-responsible-ai-companionship/index.md
Due: markdown-lint

Create Posts “2023-06-27-draft-notes-on-responsible-ai-companionship/index” (#25)
  .github/workflows/check.yml
  content/posts/2023-06-27-draft-notes-on-responsible-ai-companionship/index.md
Due: markdown-lint

bio: remove extra spaces after list items
  layouts/partials/bio.html
Due: none

fix: kill gatsby service worker causing empty page loads
  static/sw.js
Due: eslint

feat: add page build time to all pages
  layouts/_default/baseof.html
Due: none

fix(syntax highlighting): use lighter style, add x-scroll, scale down monospace font
  hugo.yaml
  layouts/_default/baseof.html
Due: none

fix: restore '| Alex W.'s Blog' suffix in titles
  layouts/_default/baseof.html
Due: none

fix(ci): use $PWD instead of $(PWD)
  justfile
Due: none

fix: match all previous URLs but drop notes- prefix (retain redirect)
  content/blurbs/2011-09-01-middle-school.md
  content/blurbs/2015-08-01-high-school.md
  content/blurbs/2016-05-16-college-kickoff.md
  content/blurbs/2018-06-01-startup-hiatus.md
  content/blurbs/2020-05-20-college-return.md
  content/blurbs/2021-03-01-new-grad.md
  content/blurbs/2023-12-31-nyc.md
  content/notes/big-trees/index.md
  content/notes/dev-resources.md
  content/notes/healthcare.md
  hugo.yaml
  layouts/_default/sitemap.xml
  layouts/index.html
  scripts/hygiene-sitemap-to-url-list.mjs
Due: markdown-lint, eslint

feat: make all in-article headers anchor links
  layouts/_default/_markup/render-heading.html
Due: none

meta: Update README.md to reflect Hugo migration
  README.md
Due: markdown-lint

fix: extra spaces in bio
  layouts/partials/bio.html
Due: none

fix: restore visibility=unlisted hiding on home page
  layouts/index.html
  static/cms/config.yml
Due: none

feat: add github action for retrieving collected notes
  .github/workflows/update-collected-notes.yml
Due: none

fix: disable TTY on scripts for Github Actions and pre-commit
  justfile
Due: none

fix: update actions/checkout@v3 -> v4 to fix node16 deprecation in Github Actions
  .github/workflows/check.yml
  .github/workflows/update-collected-notes.yml
Due: none

fix: one-of -> one-off in README.md
  README.md
Due: markdown-lint

post: 2024-03-03 - Can a product labeled '0g sugar' contain lactose?
  content/collected-notes/2024-03-03-can-a-product-with-0g-sugar-contain-lactose.md
Due: markdown-lint

fix: 'Living in NYC' blurb should extend past 2024
  content/blurbs/2030-12-31-nyc.md
Due: markdown-lint

feat(syntax highlighting): use rose-pine-dawn instead of arduino so blocks have distinct background
  hugo.yaml
Due: none

fix(ci): quote && in just script so it's passed to docker properly
  justfile
Due: none

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$, but not: content/blog/201[0-5]
  eslint: any of: \.(js|mjs|cjs)$
